/* --- CONTAINER PRINCIPAL --- */
.home-page-content {
    max-width: 50rem;
}

.home-page-about-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    margin-top: 50px;
    padding: 30px;

    /* Utilisation de tes variables index.css */
    background-color: var(--third-color); /* Jaune #fcee0a */
    color: var(--main-bg-color);        /* Noir #000000 */

    clip-path: polygon(4% 0, 100% 0, 100% 70%, 96% 100%, 0 100%, 0 25%);
    position: relative;
    border-right: 8px solid var(--secondary-color); /* Cyan #00f0ff */

    /* Effet de trame de fond (Scanlines) */
    background-image: repeating-linear-gradient(
            0deg,
            transparent,
            transparent 2px,
            rgba(0, 0, 0, 0.05) 2px,
            rgba(0, 0, 0, 0.05) 4px
    );
}

.home-page-about-me-container::before {
    content: "R-77 // USER_PROFILE";
    position: absolute;
    bottom: 5px;
    right: 50px;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.7rem;
    font-weight: 900;
    opacity: 0.6;
}

/* --- COLONNE GAUCHE (PHOTO + BOUTON) --- */
.home-page-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* Espace entre l'image et le bouton */
    min-width: 160px;
}

.home-page-picture {
    width: 160px;
    height: 160px;
    object-fit: cover;
    background: var(--main-bg-color);
    padding: 5px;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    border: 2px solid var(--main-bg-color);
    transition: all 0.3s ease;
}

.home-page-about-me-container:hover .home-page-picture {
    transform: scale(1.05);
}

/* --- COLONNE DROITE (TEXTE) --- */
.home-page-about-me-text {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    position: relative;
    border-left: 10px solid var(--main-bg-color);
    padding-left: 20px;
}

/* Responsivité simple */
@media (max-width: 600px) {
    .home-page-about-me-container {
        flex-direction: column;
        clip-path: none; /* Simplifie le tracé sur mobile */
    }
}