.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 2.5rem;

    max-width: 75rem;
    margin: 0 auto;
    padding: 20px;

    justify-content: center;
}


.project-card {
    background-color: var(--third-color); /* Fond Jaune */
    color: var(--main-bg-color); /* Texte Noir */
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 92% 100%, 0 100%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-right: 4px solid var(--secondary-color);
}

.project-card:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 10px 10px 0 var(--secondary-color);
}

.project-image-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    background: var(--main-bg-color);
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.project-card:hover .project-image {
    filter: none;
    transform: scale(1.1);
}

.project-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.project-tags {
    margin: 10px 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.project-tag {
    font-size: 0.7rem;
    font-weight: bold;
    background: var(--main-bg-color);
    color: var(--third-color);
    padding: 2px 8px;
}

.project-description {
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 1.3;
    margin-bottom: 20px;
}

.project-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(0,0,0,0.1);
    padding-top: 15px;
}

.project-id {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.7rem;
    opacity: 0.7;
}

.project-barcode {
    width: 60px;
    height: 20px;
    background: linear-gradient(90deg,
    #000 5%, transparent 5%,
    transparent 10%, #000 10%,
    #000 15%, transparent 15%,
    transparent 20%, #000 20%,
    #000 40%, transparent 40%,
    transparent 50%, #000 50%,
    #000 55%, transparent 55%,
    transparent 60%, #000 60%,
    #000 90%, transparent 90%);
}
