
.header-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    border-bottom: var(--app-border);
}

.header-item {
    font-size: 1.3rem;
    color: var(--third-color);
}

.header-inactive-item {
    font-size: 1.3rem;
    color: var(--normal-text);
}
