/* --- NAVIGATION / ONGLETS --- */
.tabs-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.nav-btn {
    background: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: 'Orbitron', sans-serif;
    padding: 12px 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    clip-path: polygon(15% 0, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.nav-btn:hover {
    background: rgba(0, 240, 255, 0.1);
    box-shadow: 0 0 15px var(--secondary-color);
    transform: translateY(-2px);
}

.nav-btn.active {
    background: var(--secondary-color);
    color: var(--main-bg-color);
    box-shadow: 0 0 25px var(--secondary-color);
}
